.navbar {
	border-radius:0;
	margin-bottom: 20px;
	background-color: #F2D7D5;
	.navbar-brand {
		display: inline-block;
	    padding-top: .25rem;
	    padding-bottom: .25rem;
	    margin-right: 1rem;
	    font-size: 1.9rem;
	    line-height: inherit;
	    white-space: nowrap;
		font-weight: bolder;


		.light {
			font-weight: 300;
		}
	}
	.navbar-toggler {
		outline: none;
	}
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-top: 0.8rem;	
    margin-bottom: 0;
    list-style: none;
    float: right;

}

.nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {
    color: #020202;
    cursor: default;
    background-color: #F5DA81;
}
.nav-link {
    display: block;
    padding: 0.5em 1em;
    color: black;
}



